# Lambda
lambda/functions/.serverless
lambda/functions/*/.serverless
lambda/functions/__pycache__
lambda/functions/*/__pycache__
lambda/functions/node_modules
lambda/functions/package
lambda/layers/

# Infrastructure
infrastructure/.terraform

# MacOS
.DS_Store

# Idea
.idea
